// SECTION :: START

section#c-main.c-main.c-main--clinical

	.c-main__slider

		mixin swiperContent()
			.swiper-slide(style='background-image: url("img/img-illustration.png")')
				.swiper-slide-bg
					span
					span
					span
					span
					span
					span
					span
				.c-grid
					.c-main__slide
						p.c-main__slide-title!= "<strong>UCLA:</strong> The Leader for TMS Treatment In Los Angeles"
						p.c-main__slide-desc Thank you for your interest the UCLA TMS Clinical and Research Program. Our expert psychiatrists have greater experience with TMS treatment than any center in California, providing more than 6,000 TMS treatment sessions every year.
						.c-btn__wrapper
							a.c-btn.c-btn--big.c-btn--whiteBorder(href="#")
								span Learn more

					.c-main__slide-visual


			.swiper-slide
				.c-grid
					.c-main__slide
						p.c-main__slide-title!= "<strong>UCLA:</strong> The Leader for TMS Treatment In Los Angeles"
						p.c-main__slide-desc Thank you for your interest the UCLA TMS Clinical and Research Program. Our expert psychiatrists have greater experience with TMS treatment than any center in California, providing more than 6,000 TMS treatment sessions every year.
						.c-btn__wrapper
							a.c-btn.c-btn--big.c-btn--whiteBorder(href="#")
								span Learn more

					.c-main__slide-visual

			.swiper-slide
				.c-grid
					.c-main__slide
						p.c-main__slide-title!= "<strong>UCLA:</strong> The Leader for TMS Treatment In Los Angeles"
						p.c-main__slide-desc Thank you for your interest the UCLA TMS Clinical and Research Program. Our expert psychiatrists have greater experience with TMS treatment than any center in California, providing more than 6,000 TMS treatment sessions every year.
						.c-btn__wrapper
							a.c-btn.c-btn--big.c-btn--whiteBorder(href="#")
								span Learn more

					.c-main__slide-visual

		+swiper('mainSwiper', 'swiperContent', false, false, false)

		.c-main__slider-btn-wrapper
			a.c-main__slider-btn.c-main__slider-btn--prev(href="#")
			a.c-main__slider-btn.c-main__slider-btn--next(href="#")

// SECTION :: END
