// SECTION :: START

section#subheader.subheader
	.c-grid
		.subheader__wrapper
			.subheader__wrapper-left

				a.subheader__visit(href="#") Visit our academic site

			.subheader__wrapper-right

				ul
					li
						a.subheader__portal(href="#")
							i.icon-font.icon-user
							span Patient Portal
					li
						u |
					li
						p.subheader__ip 310.825.7471
					li
						u |
					li
						a.subheader__social(href="#")
							i.icon-font.icon-facebook
						a.subheader__social(href="#")
							i.icon-font.icon-instagram
					li
						u |
					li
						a.subheader__search(href="#")
							i.icon-font.icon-search

// SECTION :: END
