// SECTION :: START

section#schedule.schedule.schedule--academic

	.schedule__row.schedule__row-2
		.c-grid
			.schedule__wrapper.schedule__wrapper-2

				.schedule__box-wrapper
					div
						.schedule__box
							.schedule__box-head
								img(src="img/img-schedule-box-1.jpg" srcset="img/img-schedule-box-1@2x.jpg 2x" alt="")
								a.schedule__box-play(href="#")
									i.icon-font.icon-play
							.schedule__box-body
								p.schedule__box-title TMS Treatment
								p.schedule__box-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eleifend diam sit amet efficitur sagittis. Aliquam blandit feugiat efficitur. Vivamus eget dignissim magna.
								a.schedule__box-more(href="#")
									i
					div
						.schedule__box
							.schedule__box-head
								img(src="img/img-schedule-box-2.jpg" srcset="img/img-schedule-box-2@2x.jpg 2x" alt="")
							.schedule__box-body
								p.schedule__box-title Meet Our Team
								p.schedule__box-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eleifend diam sit amet efficitur sagittis. Aliquam blandit feugiat efficitur. Vivamus eget dignissim magna.
								a.schedule__box-more(href="#")
									i
					div
						.schedule__box
							.schedule__box-head
								img(src="img/img-schedule-box-3.jpg" srcset="img/img-schedule-box-3@2x.jpg 2x" alt="")
							.schedule__box-body
								p.schedule__box-title Recent Publications
								p.schedule__box-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eleifend diam sit amet efficitur sagittis. Aliquam blandit feugiat efficitur. Vivamus eget dignissim magna.
								a.schedule__box-more(href="#")
									i

// SECTION :: END
