// SECTION :: START

section#subheader.subheader.subheader--academic
	.c-grid
		.subheader__wrapper
			.subheader__wrapper-left

				a.subheader__visit(href="#")!= "<span>Visit our</span> academic site"

			.subheader__wrapper-right

				ul
					li
						a.subheader__ip(href="#")
							i.icon-font.icon-phone
							span 310.825.7471
					li
						u |
					li
						a.subheader__search(href="#searchModal" data-effect='mfp-slide-in' popup-js)
							i.icon-font.icon-search

// SECTION :: END
