// FOOTER :: START

footer#footer.footer.footer--academic
	.c-grid
		.footer__wrapper
			.footer__wrapper-col.footer__wrapper-col-1

				p.footer__title Our Address
				p.footer__desc!= "760 Westwood Plaza, Suite 57-430, <br>Los Angeles, CA 90024"

			.footer__wrapper-col.footer__wrapper-col-2

				a.footer__link(href="#")
					i.icon-font.icon-phone
					span 310.825.7471

				a.footer__link(href="#")
					i.icon-font.icon-email
					span
						u uclatms@mednet.ucla.edu

				.c-btn__wrapper
					a.c-btn.c-btn--medium.c-btn--orange(href="#")
						span Contact Us

			.footer__wrapper-col.footer__wrapper-col-3

				p.footer__title Departments
				p.footer__desc!= "Psychiatry <br>Neurosurgery <br>Anesthesia"

// FOOTER :: END
