// FOOTER :: START

footer#footer.footer
	.c-grid
		.footer__wrapper
			.footer__wrapper-col.footer__wrapper-col-1

				p.footer__title Westwood Location
				p.footer__desc!= "Semel Institute <br>760 Westwood Plaza <br>Suite 58-229 <br>Los Angeles, CA 90024"

				a.footer__direction(href="#")
					i.icon-font.icon-pin
					span Get Directions

			.footer__wrapper-col.footer__wrapper-col-2

				p.footer__title Pasadena Location
				p.footer__desc!= "Doheny Eye Center UCLA <br>800 S. Fairmount Avenue <br>Suite 120 <br>Pasadena, CA 91105"

				a.footer__direction(href="#")
					i.icon-font.icon-pin
					span Get Directions

			.footer__wrapper-col.footer__wrapper-col-3

				a.footer__link(href="#")
					i.icon-font.icon-phone
					span 310.825.7471

				a.footer__link(href="mailto:uclatms@mednet.ucla.edu")
					i.icon-font.icon-email
					span
						u uclatms@mednet.ucla.edu

				.c-btn__wrapper
					a.c-btn.c-btn--medium.c-btn--orange(href="#")
						span Contact Us

			.footer__wrapper-col.footer__wrapper-col-4

				.footer__social
					p.footer__social-title Get Social
					div
						a.footer__social-btn(href="#")
							i.icon-font.icon-facebook
						a.footer__social-btn(href="#")
							i.icon-font.icon-instagram

// FOOTER :: END
