// HEADER :: START

header#header.header.header--clinical.header--fixed
	.c-grid
		.header__wrapper
			.header__wrapper-left

				.logo.logo--clinical
					a.logo__btn(href="/")
						div
							img.logo__img(src='img/logo.png' srcset='img/logo@2x.png 2x')
						div
							p.logo__title UCLA TMS
							span.logo__subtitle Clinical and Research Services

			.header__wrapper-right

				nav.header__nav
					div
						.header__nav-dropdown(dropdown-node-js)
							a.header__nav-link(href="#")
								span Treatment Options
								i(dropdown-toggle-js)
							.header__nav-dropdown-menu(dropdown-js)
								a(href="#") Action
								a(href="#") One More Action
								a(href="#") More Action
								a(href="#") Another Action

					div
						.header__nav-dropdown(dropdown-node-js)
							a.header__nav-link(href="#")
								span What is TMS
								i(dropdown-toggle-js)
							.header__nav-dropdown-menu(dropdown-js)
								a(href="#") Action
								a(href="#") One More Action
								a(href="#") More Action
								a(href="#") Another Action
					div
						a.header__nav-link(href="#")
							span Meet The Team
					div
						a.header__nav-link(href="#")
							span Contact Us

// HEADER :: END
