// HEADER :: START

header#header.header.header--main
	.c-grid
		.header__wrapper
			.header__wrapper-left

				.logo
					a.logo__btn(href="/")
						div
							img.logo__img(src='img/logo.png' srcset='img/logo@2x.png 2x')
						div
							p.logo__title UCLA TMS
							span.logo__subtitle Clinical and Research Services

			.header__wrapper-right

				.c-btn__wrapper
					a.c-btn.c-btn--big.c-btn--orange(href="#")
						i.icon-font.icon-user
						span Patient Portal

				p.header__ip
					i.icon-font.icon-phone
					span 310.825.7471

// HEADER :: END
