// HEADER :: START

header#header.header
	.c-grid
		.header__wrapper
			.header__wrapper-left

				.logo
					a.logo__btn(href="/")
						img.logo__img(src='img/logo.jpg' srcset='img/logo@2x.jpg 2x')

			.header__wrapper-right

				.c-btn__wrapper
					a.c-btn.c-btn--big.c-btn--orange(href="#")
						i.icon-font.icon-user
						span Patient Portal

				p.header__ip 310.825.7471

// HEADER :: END
