// HEADER :: START

header#header.header.header--academic.header--fixed
	.c-grid
		.header__wrapper
			.header__wrapper-left

				.logo.logo--academic
					a.logo__btn(href="/")
						div
							img.logo__img(src='img/logo.png' srcset='img/logo@2x.png 2x')
						div
							p.logo__title UCLA
							span.logo__subtitle.logo__subtitle--ttu NEUROMODULATION

			.header__wrapper-right

				+hamburger()

				nav.header__nav(mobile-block-js)
					div
						.header__nav-dropdown(dropdown-node-js)
							a.header__nav-link(href="#")
								span Clinical Research
								i(dropdown-toggle-js)
							.header__nav-dropdown-menu(dropdown-js)
								a(href="#") Action
								a(href="#") One More Action
								a(href="#") More Action
								a(href="#") Another Action

					div
						.header__nav-dropdown(dropdown-node-js)
							a.header__nav-link(href="#")
								span Labs
								i(dropdown-toggle-js)
							.header__nav-dropdown-menu(dropdown-js)
								a(href="#") Action
								a(href="#") One More Action
								a(href="#") More Action
								a(href="#") Another Action
					div
						a.header__nav-link(href="#")
							span Education
					div
						a.header__nav-link(href="#")
							span Faculty

// HEADER :: END
