// SECTION :: START

.main {
	background-color: #003973;

	&__wrapper {
		display: flex;
		height: calc(100vh - (198px + 176px));
		@include adaptive(1535) {
			height: calc(100vh - (178px + 176px));
		}
		@include adaptive(1439) {
			height: calc(100vh - (128px + 126px));
		}
	}

	&__btn {
		overflow: hidden;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		height: 100%;

		&:hover {
			.main__btn-content {
				background-color: rgba(#5083b7, 0.48);
				@include transition(background-color);
			}
		}

		&-1 {
			&:hover {
				.main__btn-content {
					.icon-font {
						transform: scaleX(-1) translateX(-100%);
						@include transition(transform);
					}
				}
			}

			.main__btn {
				&-content {
					> div {
						margin-left: auto;
						padding-left: 80px;
						@include adaptive(1439) {
							padding-left: 50px;
						}
						@include adaptive(1023) {
							padding-left: 30px;
						}
					}

					span {
						.icon-font {
							transform: scaleX(-1);
							margin-left: 25px;
						}
					}
				}
			}
		}
		&-2 {
			&:hover {
				.main__btn-content {
					.icon-font {
						transform: translateX(-100%);
						@include transition(transform);
					}
				}
			}

			.main__btn {
				&-content {
					> div {
						padding-right: 70px;
						text-align: right;
						@include adaptive(1439) {
							padding-right: 50px;
						}
						@include adaptive(1023) {
							padding-right: 30px;
						}
					}

					span {
						justify-content: flex-end;

						.icon-font {
							margin-right: 25px;
						}
					}
				}
			}
		}

		&-bg {
			z-index: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			mix-blend-mode: luminosity;
		}

		&-content {
			z-index: 2;
			position: relative;
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;
			background-color: rgba(#003265, 0.48);
			@include transition(background-color);

			> div {
				width: 100%;
				max-width: 705px;
				padding-bottom: 20px;
			}

			p {
				padding-bottom: 80px;
				color: #ffffff;
				font-weight: 300;
				font-size: 40px;
				line-height: 1.1;
				@include adaptive(1599) {
					font-size: 36px;
				}
				@include adaptive(1439) {
					padding-bottom: 50px;
					font-size: 30px;
				}

				strong {
					font-size: 52px;
					font-weight: 600;
					@include adaptive(1599) {
						font-size: 45px;
					}
					@include adaptive(1439) {
						font-size: 40px;
					}
				}
			}

			span {
				display: flex;
				align-items: center;
				color: #ffffff;
				font-size: 18px;

				.icon-font {
					font-size: 8px;
					@include transition(transform);
				}

				u {
					text-decoration: none;
				}
			}
		}
	}
}

// SECTION :: END
