// SECTION :: START

.more {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 176px;
	padding: 15px;
	background-color: #fbc113;
	@include adaptive(1439) {
		height: 126px;
	}
	@include adaptive(374) {
		height: 100px;
	}

	&__title {
		padding-bottom: 7px;
		text-align: center;
		color: #5b4606;
		font-size: 28px;
		line-height: 1.2;
		@include adaptive(1599) {
			font-size: 24px;
			line-height: normal;
		}
		@include adaptive(1439) {
			font-size: 22px;
		}
		@include adaptive(1023) {
			font-size: 20px;
		}
		@include adaptive(767) {
			font-size: 18px;
		}
		@include adaptive(374) {
			font-size: 16px;
		}

		a {
			color: #5b4606;
		}

		strong {
			text-decoration: underline;
			font-weight: 700;
		}
	}
}

// SECTION :: END
