//- MODAL
//- ========================

		@param {String} idMod
		@param {Object (DOM)} modalContent - additional required wrapper create mixin

		@example
			mixin modalContent()
				.c-modal__header
				.c-modal__body
				.c-modal__footer

			+modal('modalIdName', 'modalContent')

//- ========================
mixin modal(idMod, contentModal)
	.c-modal.mfp-hide.mfp-with-anim(id!= idMod)
		+#{contentModal}
