$bth-border-radius: 0;
$bth-box-shadow: none;

.c-btn {
  outline: none;
	overflow: hidden;
  cursor: pointer;
	position: relative;
	display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
	padding-left: 30px;
	padding-right: 30px;
	border: none;
  box-shadow: $bth-box-shadow;
  border-radius: $bth-border-radius;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		width: 0;
		height: 100%;
		@include transition(width);
	}

	&:before {
		left: 50%;
	}
	&:after {
		right: 50%;
	}

	&:hover {
		&:before,
		&:after {
			width: 50%;
			@include transition(width);
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
	}

	.icon-font,
	span {
		z-index: 2;
		position: relative;
		@include transition(color);
	}

	.icon-font {
		& + span {
			padding-left: 16px;
		}
	}

	span {
		font-size: 14px;
		letter-spacing: 0.2px;
	}

	&--big {
		height: 54px;
	}
	&--medium {
		height: 46px;
	}

	&--orange {
		background-color: #fbc113;

		&:before,
		&:after {
			background-color: lighten(#fbc113, 5%);
		}

		.icon-font,
		span {
			text-transform: uppercase;
			color: #181818;
		}
	}

	&--blue {
		background-color: #2775ad;

		&:before,
		&:after {
			background-color: lighten(#2775ad, 5%);
		}

		.icon-font,
		span {
			color: #fff;
		}
	}

	&--whiteBorder {
		border: 1px solid #fff;
		background-color: transparent;

		&:hover {
			.icon-font,
			span {
				color: #181818;
				@include transition(color);
			}
		}

		&:before,
		&:after {
			background-color: #fff;
		}

		.icon-font,
		span {
			color: #fff;
		}
	}
}

// BUTTON :: END
