// LOGOTYPE :: START

.logo {
	display: flex;

	&__btn {
		display: flex;
		align-items: center;

		> div {
			&:nth-of-type(1) {
				display: flex;
				align-items: center;
				width: 120px;
				@include adaptive(1439) {
					width: 85px;
				}
			}
			&:nth-of-type(2) {
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding-left: 30px;
				text-align: center;
			}
		}
	}

	&__img {
		display: block;
		max-width: 120px;
		height: auto;
		max-height: 144px;
		margin-left: auto;
		margin-right: auto;
		@include transition(max-height);
		@include adaptive(1439) {
			max-width: 85px;
			max-height: 104px;
		}
	}

	&__title {
		@extend %fontRaleway;
		color: #3c548c;
		font-size: 32px;
		text-transform: uppercase;
		font-weight: 700;
		@include adaptive(1439) {
			font-size: 28px;
		}
	}

	&__subtitle {
		@extend %fontRaleway;
		font-size: 20px;
		color: rgb(129, 139, 163);
		@include adaptive(1439) {
			font-size: 18px;
		}

		&--ttu {
			text-transform: uppercase;
		}
	}
}

// LOGOTYPE :: END
