// SECTION :: START

.c-main {
	position: relative;

	&.c-main--academic {
		&:before {
			background-color: rgba(#fff, 1);
		}
		&:after {
			display: none;
		}

		.c-main {
			&__slide {
				&-title,
				&-desc {
					color: #2a2a2a;
				}
			}
		}
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#025ea0, 1);
	}

	&:after {
		content: '';
		opacity: 0.52;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		//background: linear-gradient(to bottom, rgba(0,3,10,1) 0%,rgba(5,22,54,1) 50%,rgba(0,3,10,1) 100%);
		background-image: url('../img/img-c-main-bg-curve@2x.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&__slider {
		position: relative;

		&-btn {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 20px;
			height: 60px;
			background-color: transparent;
			@include transition(filter);

			&:hover {
				filter: drop-shadow(0 0 4px rgba(#000, 0.65));
				@include transition(filter);
			}

			&--prev {
				left: 0;

				&:hover {
					&:after,
					&:before {
						@include transition(transform);
					}

					&:after {
						transform: rotate(40deg) translateY(5px);
					}
					&:before {
						transform: rotate(-40deg) translateY(-5px);
					}
				}

				&:after {
					transform: rotate(20deg) translateY(1px);
				}
				&:before {
					transform: rotate(-20deg) translateY(-1px);
				}
			}
			&--next {
				right: 0;

				&:hover {
					&:after,
					&:before {
						@include transition(transform);
					}

					&:after {
						transform: rotate(-40deg) translateY(5px);
					}
					&:before {
						transform: rotate(40deg) translateY(-5px);
					}
				}

				&:after {
					transform: rotate(-20deg) translateY(1px);
				}
				&:before {
					transform: rotate(20deg) translateY(-1px);
				}
			}

			&:after,
			&:before {
				content: '';
				position: absolute;
				left: 50%;
				width: 1px;
				height: 50%;
				background-color: #ffffff;
				@include transition(transform);
			}

			&:after {
				top: 0;
			}
			&:before {
				bottom: 0;
			}

			&-wrapper {
				z-index: 10;
				position: absolute;
				top: 50%;
				left: 0;
				right: 0;
				width: 100%;
				max-width: 1440px;
				margin-left: auto;
				margin-right: auto;
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}

	&__slide {
		width: 100%;
		max-width: 585px;
		padding-left: 90px;

		&-title {
			padding-bottom: 30px;
			font-size: 34px;
			color: rgb(255, 255, 255);

			strong {
				font-weight: 700;
			}
		}

		&-desc {
			padding-bottom: 40px;
			font-size: 18px;
			color: rgb(255, 255, 255);
			line-height: 1.667;
		}
	}

	.mainSwiper {

	}

	.swiper {
		&-slide {
			display: flex;
			align-items: center;
			min-height: 600px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
	}
}

// SECTION :: END
