// SECTION :: START

.c-main {
	position: relative;

	&.c-main--clinical {
		.swiper {
			&-slide {
				position: relative;
				background-position: right center;
				@include adaptive(1439) {
					background-position-x: calc(100% + 175px);
				}
				@include adaptive(1279) {
					background-position-x: 35%;
				}

				&-bg {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					@include adaptive(1279) {
						display: none;
					}

					span {
						z-index: 2;
						position: absolute;
						width: 23px;
						height: 23px;
						border-radius: 50%;
						background: #FF5252;
						box-shadow: 0 0 0 0 #FF5252;
						animation: pulse-red 2s infinite;

						&:nth-of-type(1) {
							top: 31px;
							right: 566px;
							@include adaptive(1599) {
								top: 28px;
								right: 516px;
							}
							@include adaptive(1439) {
								top: 28px;
								right: 341px;
							}
						}
						&:nth-of-type(2) {
							top: 145px;
							right: 654px;
							@include adaptive(1599) {
								top: 133px;
								right: 597px;
							}
							@include adaptive(1439) {
								top: 133px;
								right: 422px;
							}
						}
						&:nth-of-type(3) {
							top: 261px;
							right: 760px;
							@include adaptive(1599) {
								top: 238px;
								right: 694px;
							}
							@include adaptive(1439) {
								top: 238px;
								right: 519px;
							}
						}
						&:nth-of-type(4) {
							top: 301px;
							right: 572px;
							@include adaptive(1599) {
								top: 275px;
								right: 522px;
							}
							@include adaptive(1439) {
								top: 275px;
								right: 347px;
							}
						}
						&:nth-of-type(5) {
							top: 238px;
							right: 427px;
							@include adaptive(1599) {
								top: 209px;
								right: 419px;
							}
							@include adaptive(1439) {
								top: 209px;
								right: 244px;
							}
						}
						&:nth-of-type(6) {
							top: 450px;
							right: 501px;
							@include adaptive(1599) {
								top: 411px;
								right: 456px;
							}
							@include adaptive(1439) {
								top: 411px;
								right: 281px;
							}
						}
						&:nth-of-type(7) {
							top: 362px;
							right: 874px;
							@include adaptive(1599) {
								top: 332px;
								right: 585px;
							}
							@include adaptive(1439) {
								top: 332px;
								right: 622px;
							}
						}
					}
				}
			}
		}
	}

	&.c-main--academic {
		&:before {
			background-color: rgba(#fff, 1);
		}

		&:after {
			display: none;
		}

		.c-main {
			&__slide {
				@include adaptive(1365) {
					max-width: 475px;
					padding-left: 50px;
				}
				@include adaptive(1023) {
					max-width: 55%;
					padding-left: 30px;
				}
				@include adaptive(767) {
					max-width: 100%;
					padding-right: 30px;
				}

				&-title,
				&-desc {
					color: #2a2a2a;
				}
			}
		}

		.swiper {
			&-slide {
				position: relative;
				background-position: right center;
				@include adaptive(1919) {
					background-position-x: calc(100% + 175px);
				}
				@include adaptive(1279) {
					background-position-x: 30%;
				}
				@include adaptive(1279) {
					background-position-x: 30%;
				}

				&-bg {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					@include adaptive(1279) {
						display: none;
					}

					span {
						z-index: 2;
						position: absolute;
						width: 23px;
						height: 23px;
						border-radius: 50%;
						background: #FF5252;
						box-shadow: 0 0 0 0 #FF5252;
						animation: pulse-red 2s infinite;

						// 176
						&:nth-of-type(1) {
							bottom: 9px;
							right: 670px;
							width: 30px;
							height: 30px;
							@include adaptive(1919) {
								right: 494px;
							}
							@include adaptive(1599) {
								right: 436px;
							}
						}
						&:nth-of-type(2) {
							bottom: 46px;
							right: 502px;
							@include adaptive(1919) {
								right: 325px;
							}
							@include adaptive(1599) {
								bottom: 42px;
								right: 282px;
							}
						}
						&:nth-of-type(3) {
							bottom: 181px;
							right: 628px;
							width: 30px;
							height: 30px;
							@include adaptive(1919) {
								right: 451px;
							}
							@include adaptive(1599) {
								bottom: 167px;
								right: 398px;
							}
						}
						&:nth-of-type(4) {
							bottom: 200px;
							right: 400px;
							@include adaptive(1919) {
								right: 221px;
							}
							@include adaptive(1599) {
								bottom: 180px;
								right: 190px;
							}
						}
						&:nth-of-type(5) {
							bottom: 326px;
							right: 210px;
							width: 35px;
							height: 35px;
							@include adaptive(1919) {
								right: 34px;
							}
							@include adaptive(1599) {
								bottom: 296px;
								right: 16px;
							}
						}
						&:nth-of-type(6) {
							bottom: 97%;
							right: 412px;
							width: 30px;
							height: 30px;
							@include adaptive(1919) {
								right: 236px;
							}
							@include adaptive(1599) {
								right: 199px;
							}
						}
						&:nth-of-type(7) {
							bottom: 109px;
							right: 465px;
							width: 50px;
							height: 50px;
							@include adaptive(1919) {
								right: 288px;
							}
							@include adaptive(1599) {
								bottom: 99px;
								right: 249px;
							}
						}
					}
				}
			}
		}
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#025ea0, 1);
	}

	&:after {
		content: '';
		opacity: 0.52;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('../img/img-c-main-bg-curve@2x.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&__slider {
		position: relative;

		&-btn {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 20px;
			height: 60px;
			background-color: transparent;
			@include transition(filter);

			&:hover {
				filter: drop-shadow(0 0 4px rgba(#000, 0.65));
				@include transition(filter);
			}

			&--prev {
				left: 0;

				&:hover {
					&:after,
					&:before {
						@include transition(transform);
					}

					&:after {
						transform: rotate(40deg) translateY(5px);
					}
					&:before {
						transform: rotate(-40deg) translateY(-5px);
					}
				}

				&:after {
					transform: rotate(20deg) translateY(1px);
				}
				&:before {
					transform: rotate(-20deg) translateY(-1px);
				}
			}
			&--next {
				right: 0;

				&:hover {
					&:after,
					&:before {
						@include transition(transform);
					}

					&:after {
						transform: rotate(-40deg) translateY(5px);
					}
					&:before {
						transform: rotate(40deg) translateY(-5px);
					}
				}

				&:after {
					transform: rotate(-20deg) translateY(1px);
				}
				&:before {
					transform: rotate(20deg) translateY(-1px);
				}
			}

			&:after,
			&:before {
				content: '';
				position: absolute;
				left: 50%;
				width: 1px;
				height: 50%;
				background-color: #ffffff;
				@include transition(transform);
			}

			&:after {
				top: 0;
			}
			&:before {
				bottom: 0;
			}

			&-wrapper {
				z-index: 10;
				position: absolute;
				top: 50%;
				left: 0;
				right: 0;
				width: 100%;
				max-width: 1440px;
				margin-left: auto;
				margin-right: auto;
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}

	&__slide {
		z-index: 2;
		position: relative;
		width: 100%;
		max-width: 585px;
		padding-left: 90px;
		@include adaptive(1023) {
			max-width: 55%;
			padding-left: 50px;
		}
		@include adaptive(767) {
			max-width: 100%;
			padding-left: 30px;
			padding-right: 30px;
		}

		&-title {
			padding-bottom: 30px;
			font-size: 34px;
			color: rgb(255, 255, 255);
			@include adaptive(1599) {
				font-size: 31px;
			}
			@include adaptive(1023) {
				font-size: 26px;
			}
			@include adaptive(767) {
				font-size: 22px;
			}

			strong {
				font-weight: 700;
			}
		}

		&-desc {
			padding-bottom: 40px;
			font-size: 18px;
			color: rgb(255, 255, 255);
			line-height: 1.667;
			@include adaptive(1023) {
				font-size: 16px;
			}
			@include adaptive(767) {
				font-size: 14px;
			}
		}

		&-visual {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
		}
	}

	.swiper {
		&-slide {
			position: relative;
			display: flex;
			align-items: center;
			min-height: 600px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			@include adaptive(1599) {
				min-height: 550px;
			}
			@include adaptive(1279) {
				min-height: 500px;
			}
			@include adaptive(1023) {
				background-position: 30% center;
			}

			&-video {
				z-index: 0;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(#000, 0.25);
				}

				video {
					@extend %imageResCoverAbs;
				}
			}

			.c-grid {
				display: flex;
				align-items: center;
			}
		}
	}

	@keyframes pulse-red {
		0% {
			transform: scale(0.9);
			box-shadow: 0 0 0 0 rgba(#FF5252, 0.7);
		}

		70% {
			transform: scale(1);
			box-shadow: 0 0 0 15px rgba(#fff, 0);
		}

		100% {
			transform: scale(0.95);
			box-shadow: 0 0 0 0 rgba(#fff, 0);
		}
	}
}

// SECTION :: END
