// SECTION :: START

.schedule {
	padding-top: 60px;
	background-color: #efefef;

	&.schedule--academic {
		padding-top: 20px;
	}

	&__row {
		&-1 {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 165px;
			background-color: #fbc113;
			@include adaptive(1439) {
				height: 135px;
			}
			@include adaptive(767) {
				min-height: 100px;
				height: auto;
				padding-top: 15px;
				padding-bottom: 15px;
			}
		}

		&-2 {
			padding-top: 80px;
			padding-bottom: 120px;
		}
	}

	&__wrapper {
		&-1 {
			display: flex;
			align-items: center;
			justify-content: center;
			@include adaptive(767) {
				flex-direction: column;
			}
		}
	}

	&__title {
		padding-right: 50px;
		font-size: 36px;
		color: rgb(91, 70, 6);
		@include adaptive(1535) {
			font-size: 33px;
		}
		@include adaptive(1439) {
			font-size: 30px;
		}
		@include adaptive(1023) {
			font-size: 26px;
		}
		@include adaptive(767) {
			padding-right: 0;
			padding-bottom: 10px;
			text-align: center;
			font-size: 18px;
		}
		@include adaptive(374) {
			font-size: 16px;
		}
	}

	&__box {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		background-color: rgb(255, 255, 255);
		box-shadow: 0 2px 0 0 rgba(227, 229, 231, 0.4);

		&:hover {
			.schedule__box {
				&-head {
					img {
						transform: scale(1.1) rotate(1deg);
						@include transition(transform 0.55s);
					}
				}

				&-more {
					transform: translateY(25%);
					@include transition(transform);

					i {
						transform: rotate(-45deg) scale(1.15);
						@include transition(transform);
					}
				}
			}
		}

		&-wrapper {
			display: flex;
			justify-content: space-between;
			@include adaptive(1023) {
				flex-wrap: wrap;
			}

			> div {
				width: 100%;
				max-width: calc((100% - 60px) / 3);
				@include adaptive(1023) {
					max-width: 100%;

					&:not(:last-of-type) {
						padding-bottom: 50px;
					}
				}
			}
		}

		&-head {
			overflow: hidden;
			position: relative;
			height: 238px;
			backface-visibility: hidden;
			@include adaptive(767) {
				height: 200px;
			}

			img {
				@extend %imageResCoverAbs;
				@include transition(transform);
			}
		}

		&-body {
			padding: 40px 40px 60px;
			background-color: rgb(255, 255, 255);
			box-shadow: 0 2px 0 0 rgba(227, 229, 231, 0.4);
			@include adaptive(1279) {
				padding: 30px 30px 50px;
			}
		}

		&-play {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			.icon-font {
				color: #ffffff;
				font-size: 75px;
			}
		}

		&-title {
			padding-bottom: 10px;
			font-size: 24px;
			color: rgb(44, 67, 123);
			@include adaptive(767) {
				font-size: 20px;
			}
		}

		&-desc {
			font-size: 16px;
			color: rgb(91, 89, 89);
			line-height: 1.5;
			@include adaptive(767) {
				font-size: 14px;
			}
		}

		&-more {
			z-index: 2;
			position: absolute;
			left: 0;
			right: 0;
			bottom: -25px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50px;
			height: 50px;
			margin-left: auto;
			margin-right: auto;
			border-radius: 50%;
			background-color: rgb(39, 117, 173);
			@include transition(transform);

			i {
				position: relative;
				top: -2px;
				width: 10px;
				height: 10px;
				border-left: 2px solid #fff;
				border-bottom: 2px solid #fff;
				transform: rotate(-45deg);
				@include transition(transform);
			}
		}
	}
}

// SECTION :: END
