// FOOTER :: START

.footer {
	position: relative;
	padding-top: 58px;
	padding-bottom: 71px;
	background-color: #181818;
	@include adaptive(1023) {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	&.footer--academic {
		@include adaptive(1023) {
			padding-bottom: 0;
		}

		.footer {
			&__wrapper {
				&-col {
					max-width: 260px;
					margin-left: auto;
					margin-right: auto;
					@include adaptive(1023) {
						max-width: 50%;
					}
				}
			}
		}
	}

	&__wrapper {
		display: flex;
		align-items: flex-start;
		@include adaptive(1023) {
			flex-wrap: wrap;
		}

		&-col {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			@include adaptive(1023) {
				flex: unset;
				width: 100%;
				max-width: 50%;
				min-height: 168px;
			}

			&-1,
			&-2 {
				@include adaptive(1023) {
					position: relative;
					padding-bottom: 50px;

					&:after {
						content: '';
						position: absolute;
						bottom: 25px;
						width: calc(100% - 15px);
						height: 1px;
						background-color: #5e5e5e;
					}
				}
			}

			&-1 {
				@include adaptive(1023) {
					&:after {
						left: 0;
					}

					&:before {
						content: '';
						position: absolute;
						right: -1px;
						bottom: 50px;
						width: 1px;
						height: 100px;
						background-color: #5e5e5e;
					}
				}
			}

			&-2 {
				@include adaptive(1023) {
					&:after {
						right: 0;
					}
				}
			}

			&-4 {
				position: relative;
				display: flex;
				justify-content: flex-end;
				@include adaptive(1023) {
					align-items: flex-start;
					justify-content: center;
				}

				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 1px;
					height: 100px;
					background-color: #5e5e5e;
				}
			}
		}
	}

	&__title {
		padding-bottom: 10px;
		color: #ffffff;
		font-weight: 700;
		@include adaptive(1023) {
			text-align: center;
		}
	}

	&__desc {
		padding-bottom: 22px;
		color: #e5e5e5;
		line-height: 1.45;
		@include adaptive(1023) {
			text-align: center;
		}
	}

	&__direction {
		display: flex;
		align-items: center;
		@include adaptive(1023) {
			justify-content: center;
		}

		.icon-font,
		span {
			text-decoration: none;
			color: #e5e5e5;
		}

		.icon-font{
			margin-right: 8px;
			font-size: 18px;
		}

		span {
			text-decoration: underline;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		@include adaptive(1023) {
			justify-content: center;
		}

		&:last-of-type {
			margin-bottom: 20px;
		}

		.icon-font,
		span {
			color: #e5e5e5;
		}

		.icon-font {
			margin-right: 17px;
		}
	}

	&__social {
		display: flex;
		align-items: center;
		@include adaptive(1023) {
			flex-wrap: wrap;
			justify-content: center;
		}

		> div {
			display: flex;
			align-items: center;
			@include adaptive(1023) {
				justify-content: center;
			}
		}

		&-title {
			margin-right: 17px;
			text-transform: uppercase;
			font-size: 14px;
			color: #e5e5e5;
			@include adaptive(1023) {
				width: 100%;
				margin-right: 0;
				text-align: center;
				padding-bottom: 10px;
			}
		}

		&-btn {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 42px;
			height: 42px;
			border: 1px solid #bcbcbc;
			border-radius: 50%;
			background-color: transparent;
			@include transition(background-color);

			&:hover {
				background-color: #bcbcbc;
				@include transition(background-color);

				.icon-font {
					color: #ffffff;
					@include transition(color);
				}
			}

			&:not(:last-of-type) {
				margin-right: 10px;
			}

			.icon-font {
				color: #bcbcbc;
				@include transition(color);
			}
		}
	}

	.c-btn {
		&__wrapper {
			@include adaptive(1023) {
				justify-content: center;
			}
		}
	}
}

// FOOTER :: END
