// HEADER :: START

.header {
	z-index: 999;
	position: relative;
	background-color: #ffffff;
	@include transition(box-shadow);

	&.header--academic {
		&:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 10px;
			background-color: #efefef;
		}
	}

	&.header--fixed {
		position: fixed;
		top: 30px;
		left: 0;
		width: 100%;

		&.header-fixed-js {
			box-shadow: 0 2px 10px 0 rgba(#000, 0.1);
			@include transition(box-shadow);

			.header {
				&__wrapper {
					height: 134px;
					@include transition(height);
					@include adaptive(1535) {
						height: 128px;
					}
					@include adaptive(767) {
						height: 100px;
					}

					&-left {
						height: 100%;
						@include adaptive(1599) {
							height: auto;
						}
					}
				}
			}

			& + .body {
				margin-top: 164px;
				@include transition(margin-top);
			}

			.logo {
				&__img {
					max-height: 80px;
					@include transition(max-height);
					@include adaptive(1535) {
						max-height: 104px;
					}
					@include adaptive(767) {
						min-height: 50px;
					}
				}
			}
		}

		& + .body {
			margin-top: 228px;
			@include transition(margin-top);
			@include adaptive(1599) {
				margin-top: 208px;
			}
			@include adaptive(1535) {
				margin-top: 158px;
			}
			@include adaptive(767) {
				margin-top: 130px;
			}
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 198px;
		@include transition(height);
		@include adaptive(1599) {
			height: 178px;
		}
		@include adaptive(1535) {
			height: 128px;
		}
		@include adaptive(767) {
			height: 100px;
		}

		&-left {
			padding-top: 27px;
			padding-bottom: 27px;
			@include adaptive(767) {
				//padding-top: 15px;
				//padding-bottom: 15px;
			}
		}

		&-right {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			@include adaptive(767) {
				align-items: flex-end;
				flex-direction: column;
				padding-left: 15px;
			}

			.hamburger {
				display: none;
				@include adaptive(1023) {
					display: flex;
				}
			}
		}
	}

	&__ip {
		padding-left: 35px;
		font-weight: 600;
		color: #181818;
		letter-spacing: 0.7px;
		@include adaptive(767) {
			font-size: 12px;
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		@include adaptive(1023) {
			opacity: 0;
			visibility: hidden;
			transform: translateX(-100%);
			overflow-y: auto;
			z-index: 1999;
			position: fixed;
			top: 0;
			left: 0;
			flex-direction: column;
			width: 100%;
			max-width: 320px;
			height: 100%;
			padding: 60px 30px;
			background-color: #ffffff;
			box-shadow: 0 2px 5px 0 rgba(#000, 0.15);
			@include adaptive(424) {
				max-width: 80%;
			}

			&.is-animate {
				@include transition(opacity, visibility, transform);
			}

			&.is-open {
				opacity: 1;
				visibility: visible;
				transform: translateX(0);
				@include transition(opacity, visibility, transform);
			}
		}

		> div {
			@include adaptive(1023) {
				width: 100%;
			}
			&:not(:last-of-type) {
				padding-right: 55px;
				@include adaptive(1599) {
					padding-right: 35px;
				}
				@include adaptive(1279) {
					padding-right: 15px;
				}
				@include adaptive(1023) {
					padding-right: 0;
					border-bottom: 1px solid #444343;
				}
			}
		}

		&-dropdown {
			position: relative;

			&.is-active {
				[dropdown-toggle-js] {
					&:after {
						transform: translate(-50%, calc(-50% + 4px)) rotate(-225deg);
						@include transition(transform);
					}
				}
			}

			&-menu {
				opacity: 0;
				visibility: hidden;
				transform: translateY(10px);
				white-space: nowrap;
				z-index: 1999;
				position: absolute;
				top: calc(100% + 10px);
				right: 0;
				min-width: 200px;
				padding: 5px 0;
				border-radius: 5px;
				box-shadow: 0 2px 10px 0 rgba(#000, 0.15);
				background-color: #ffffff;
				@include transition(opacity, visibility, transform);
				@include adaptive(1023) {
					opacity: 1;
					visibility: visible;
					display: none;
					position: static;
					transform: translateY(0);
					box-shadow: none;
					border-radius: 0;
				}

				&.is-open {
					opacity: 1;
					visibility: visible;
					transform: translateY(0);
					@include transition(opacity, visibility, transform);
				}

				a {
					display: flex;
					align-items: center;
					justify-content: flex-end;
					width: 100%;
					min-height: 40px;
					padding: 5px 15px;
					background-color: transparent;
					font-size: 18px;
					color: rgb(68, 67, 67);
					text-align: right;
					@include transition(background-color);
					@include adaptive(1279) {
						font-size: 16px;
					}
					@include adaptive(1023) {
						justify-content: flex-start;
					}

					&:hover {
						background-color: rgba(68, 67, 67, 0.05);
						@include transition(background-color);
					}
				}
			}
		}

		&-link {
			position: relative;
			display: flex;
			align-items: center;
			@include adaptive(1023) {
				min-height: 50px;
				justify-content: space-between;
			}

			span {
				font-size: 22px;
				color: rgb(68, 67, 67);
				@include adaptive(1599) {
					font-size: 20px;
				}
				@include adaptive(1279) {
					font-size: 18px;
				}
			}

			i {
				position: relative;
				width: 22px;
				height: 22px;
				margin-left: 5px;

				&:after {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					width: 7px;
					height: 7px;
					transform: translate(-50%, -50%) rotate(-45deg);
					border-left: 1px solid rgb(68, 67, 67);
					border-bottom: 1px solid rgb(68, 67, 67);
					@include transition(transform);
				}
			}
		}
	}
}

// HEADER :: END
