// SECTION :: START

section#main.main

	.main__wrapper

		a.main__btn.main__btn-1(href="/clinical.html")
			.main__btn-bg(style='background-image:url("img/img-main-1@2x.jpg")')
			.main__btn-content
				div
					p!= "<strong>Interested in </strong> <br>treatment?"

					span
						u Visit our clinical site
						i.icon-font.icon-arrow-long-right

		a.main__btn.main__btn-2(href="/academic.html")
			.main__btn-bg(style='background-image:url("img/img-main-2@2x.jpg")')
			.main__btn-content
				div
					p!= "<strong>Interested in </strong> <br>research & education?"

					span
						i.icon-font.icon-arrow-long-right
						u Visit our academic site


// SECTION :: END
